body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-primary);
}

button {
    all: unset;
    padding: 8px;
    cursor: pointer;
    background-color: var(--color-layout);
    border: 2px solid var(--color-button-border);  
    border-radius: 6px;  
    text-align: center;    
    font-weight: 600;
    line-height: 1;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

button:hover {
    background-color: var(--color-layout-hovered);
    border-color: var(--color-border-hovered);
}
