:root {
    --color-primary: #333;
    --color-main-layout: #f6f8fb;
    --color-secondary-layout: #f3f2f6;
    --color-input-hovered: #1976d2;
    --color-choosen-cell: #2a9d8f;
    --color-nearest-cell: #b8e0d2;
    --color-heat-map: 220, 90, 60;
    --color-input-shadow: 25, 118, 210;
    --color-button-border: #d1d1d1;
    --color-button-hovered: #d8d8d8;
    --color-border-hovered: #bfbfbf;

    --color-remove-hover-bg: #f1cccc;
    --color-remove-hover-border: #d8a8a8;
    --color-text-red: #d32f2f;
    --color-shadow-red: #ff8282;
    --color-error-bg: #ffeced;
}
