.tableContainer {
    padding: 30px 40px;
    display: grid;
    gap: 24px;
} 

table {
    border-collapse: collapse;    
    font-size: 0.95rem;
    user-select: none;
}

thead {
    background-color: var(--color-layout);
    text-align: left;
}

th, td {
    padding: 8px 12px;
    border: 1px solid black;    
}

td {
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
}

p { margin: 0 }

.dataCell, .sumCell {
    cursor: pointer;    
}

.dataCell:hover {
    background-color: var(--color-choosen-cell);
}

.highlightedCell {
    background-color: var(--color-nearest-cell);
}

.percentageCell {
    background-color: var(--color-percentage-cell);
}

.removeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.removeButton {
    height: 18px;
    margin-top: 6px;
    padding: 0 6px;
    border-radius: 6px;
    font: 700 0.75rem/1 sans-serif;
}

.addButton {    
    width: 80px;
}

.revertButton {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.iconContainer {
    display: flex;
    align-items: center;
}
